---
layout: home
title: 数学小筑
---

<div class="topbar">
    <div class="topbar-mine">数学小筑</div>
    <div class="topbar-button">
        <a href="{{ site.url }}/index.html">Home</a>
    </div>
    <div class="topbar-button">
        <a href="{{ site.url }}/tags.html">Tags</a>
    </div>
    <div class="topbar-button">
        <a href="{{ site.url }}/about.html">About</a>
    </div>
	
</div>

<div class="slogan">
    「黄金白璧买歌笑，一醉累月轻王侯」
</div>

<ul>
    <div class="char-total-counter">
        {% assign count = 0 %}
        {% for post in site.posts %}
        {% assign single_count = post.content | strip_html | strip_newlines | remove: " " | size %}
        {% assign count = count | plus: single_count %}
        {% endfor %}

        {{ site.posts.size }}篇文章

        {% if count > 1000 %}
        {{ count | divided_by: 1000 }},{{ count | modulo: 1000 }}字
        {% else %}
        {{ count }}
        {% endif %}
    </div>

</ul>
