<div class="navigatebar">
    <div class="navigatebar-button navigatebar-mine">
        <a href="{{ site.url }}/index.html">数学小筑</a>
    </div>
    <div class="navigatebar-slogan">
        「黄金白璧买歌笑，一醉累月轻王侯」
    </div>
    <div class="navigatebar-button">
        <a href="{{ site.url }}/index.html">Home</a>
    </div>
    <div class="navigatebar-button">
        <a href="{{ site.url }}/tags.html">Tags</a>
    </div>

    <div class="navigatebar-button navigatebar-about">
        <a href="{{ site.url }}/about.html">About</a>
    </div>
</div>
